   <!-- HEADER -->
<header role="banner" class="fr-header" style="width: 100%;">
    <div class="fr-header__body">
      <div class="fr-container">
        <div class="fr-header__body-row">
          <div class="fr-header__brand fr-enlarge-link">
            <div class="fr-header__brand-top">
              <div class="fr-header__logo">
                <p class="fr-logo"> (RE)SOURCES <br>RELATIONNELLES </p>
              </div>
              <div class="fr-header__navbar">
                <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-474" id="button-475" title="Rechercher"> Rechercher </button>
                <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-476" aria-haspopup="menu" id="button-477" title="Menu"> Menu </button>
              </div>
            </div>
            <div class="fr-header__service">
              <a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
                <p class="fr-header__service-title title_text"> JeVeuxVraimentAider </p>
              </a>
              <p class="fr-header__service-tagline bottom_text_title">PAR LA RESERVE CIVIQUE</p>
            </div>
          </div>
          <div class="fr-header__tools">
            <div class="fr-header__tools-links">
              <ul class="fr-btns-group">
                <li>
                  <a class="fr-btn" href="#">Trouver une mission</a>
                </li>
                <li>
                  <a class="fr-btn" href="/connexion-user">Mon Compte</a>
                </li>
              </ul>
            </div>
            <div class="fr-header__search fr-modal" id="modal-474">
              <div class="fr-container fr-container-lg--fluid">
                <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="Fermer"> Fermer </button>
                <div class="fr-search-bar" id="search-473" role="search">
                  <label class="fr-label" for="search-473-input"> Rechercher </label>
                  <input class="fr-input" placeholder="Rechercher une mission" type="search" id="search-473-input" name="search-473-input">
                  <button class="fr-btn" title="Rechercher"> Rechercher </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-476" aria-labelledby="button-477">
      <div class="fr-container">
        <button class="fr-btn--close fr-btn" aria-controls="modal-476" title="Fermer"> Fermer </button>
        <div class="fr-header__menu-links"></div>
      </div>
    </div>
  </header>
<!-- ! HEADER-->
<router-outlet></router-outlet>

<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="/" title="Retour à l’accueil du site - JeVeuxVraimentAider">
          <p class="fr-logo"> (RE)SOURCES <br>RELATIONNELLES </p>
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">Trouvez une mission d'intérêt général au sein d'un organisme public ou associatif, et contribuez activement à promouvoir les valeurs fondamentales de la République.</p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre" href="https://gouvernement.fr">gouvernement.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre" href="https://service-public.fr">service-public.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre" href="https://data.gouv.fr">data.gouv.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="https://www.info.gouv.fr/accessibilite">Accessibilité : totalement conforme</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="https://www.info.gouv.fr/mentions-legales">Mentions légales</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="https://www.info.gouv.fr/mentions-legales/donnees-personnelles-et-cookies">Données personnelles</a>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de ce site sont proposés sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre">licence etalab-2.0</a>
        </p>
      </div>
    </div>
  </div>
</footer>



